
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #0f0f1a;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.termino{
text-align: center;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf')format('truetype');
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth_wght.ttf')format('truetype');
}

h2{
    font-family: 'Orbitron',sans-serif;
}
p{
font-family: 'Roboto',sans-serif;
}
p a{
  text-decoration: none;
  color:#BC13FE;

}

