.navbar {
    background-color: #1a1a2e !important;
}

.navbar-nav {
    margin: 0 .5rem;
    text-decoration: none;
    padding: .4rem .6rem;
    border-radius: 10px
}

.navbar-brand {
    font-weight: 700;
    color: #ffffff !important;
    font-size: 1.5rem;

}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    
    margin: 0 0.2rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-link:hover,
.nav-link.active {
    background-color: #391984;
    color: white !important;
}

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth_wght.ttf') format('woff2');
    font-weight: 400;
    font-weight: 500;
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@media screen and(max-width:500px) {
    .navbar a {
        float: none;
        display: block;
    }
}