/* Fondo exclusivo para la página de inicio de sesión */
.inicio-sesion-page {
  background: url("../img/img-inicio-sesion.jpg") no-repeat center center fixed;
  background-size: cover;

  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.login-container {
  width: 100%;
  max-width: 400px;
  background: rgba(52, 58, 64, 0.7);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

/* Inputs */
.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 8px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Botón */
.login-container button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #7213fe;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #b989ff;
}

.avatar {
  display: block;
  margin: 0 auto 20px auto;
  width: 70px;
}

.error-msg {
  color: #ff4d4d;
  font-size: 0.9rem;
  text-align: center;
}