:root {
  --electric-blue: #1E90FF;
  --neon-green: #39FF14;
}

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

.profile-perfil {
  .profile-perfil {
    background: url("../img/teclado2.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .profile-perfil form {
    background: rgba(52, 58, 64, 0.9);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
}


.profile-ver-mi-perfil footer {
  background: url("/img/CarouselSlide1.jpg");
  color: #fff;
  text-align: center;
  padding: 15px 0;
  border-top: 2px solid var(--neon-green);
}

.form-group input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #211f1f;
  color: #fff;
}

.profile-ver-mi-perfil .card {
  width: 340px;
  background: rgba(0, 0, 0, 0.65);
  padding: 20px;
  margin: 20px auto;
  /* centrado */
  text-align: center;
  border-radius: 12px;
  border: 1px solid var(--neon-green);
  box-shadow: 0 0 15px rgba(30, 144, 255, 0.6);
  backdrop-filter: blur(4px);
}

.profile-ver-mi-perfil .card ul a {
  margin: 0 8px;
  font-size: 22px;
  color: var(--neon-green);
  transition: 0.3s;
}

.profile-ver-mi-perfil .card ul a:hover {
  color: var(--electric-blue);
  transform: scale(1.2);
}

.profile-ver-mi-perfil .card .btn {
  background: var(--electric-blue);
  border: none;
  width: 90%;
  transition: .3s;
}

.profile-ver-mi-perfil .card .btn:hover {
  background: var(--neon-green);
  color: #000;
}