/* ===========================
   ESTILOS DEL CONTENEDOR RAÍZ
   =========================== */
.profileproductos {

    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0;
    min-height: 100vh;
    margin-top: 0;
}

/* ===========================
   TIPOGRAFÍAS PERSONALIZADAS
   =========================== */
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-VariableFont_wght.ttf') format('woff2');
    font-weight: 400 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-VariableFont_wdth_wght.ttf') format('woff2');
    font-weight: 400 600;
    font-style: normal;
    font-display: swap;
}

/* ===========================
   ENCABEZADOS Y TEXTOS
   =========================== */
h1,
h2,
h5 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    color: var(--neon-green);
}

p,
h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

/* ===========================
   VARIABLES DE COLOR
   =========================== */

/* ===========================
   TARJETAS DE PRODUCTOS
   =========================== */
.card {
    background-color: #1a1a2e;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
    border: 2px solid #500570;
}

.card img {
    border: 30px solid #1a1a2e;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(55, 255, 20, 0.562);
}

/* ===========================
   PRECIO
   =========================== */
.price {
    color: var(--neon-green);
    font-weight: bold;
    font-size: 1.2rem;
}

/* ===========================
   BOTONES
   =========================== */
.btn-primary {
    background-color: #4361ee;
    border: none;
}

.btn-primary:hover {
    background-color: #293c94;
}

.btn-gamer {
    background-color: #500570;
    border: none;
    color: #fff;
    transition: all 0.3s;
    font-weight: 700;
}

.btn-gamer:hover {
    background-color: #6f079c;
    transform: scale(1.05);
}

/* ===========================
   HERO SECTION
   =========================== */
.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url('../img/imgHero.webp') no-repeat center center;
    background-size: cover;
    padding: 7rem 0;
    text-align: center;
}

/* ===========================
   CATEGORÍAS
   =========================== */
.bg-gamer {
    background-color: #1a1a2e;
    border-radius: 10px;
    border: 2px solid var(--neon-green);
}

/* ===========================
   OFFCANVAS CARRITO
   =========================== */
.offcanvas {
    background-color: #24243f;
    border: 2px solid var(--neon-green);
}

.btn-close {
    background-color: #ffffff;
}