/* Tarjeta de perfil */
.card {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 350px;
  margin: 80px auto;
  text-align: center;
  border-radius: 15px;
  background-color: #1a1a2e;
  transition: transform 0.3s, box-shadow 0.3s;
  height: 100%;
  border: 2px solid #500570;


  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
   /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 20px rgba(255, 0, 234, 0.494); */
}

/* Imagen de perfil */
.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  border: 2px solid #ff00ea7e;
  transition: transform 0.3s ease;
  transform: translateY(-10px);
}

.img-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card img:hover {
  transform: scale(1.05);
}

/* Título y subtítulo */
.title {
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 5px;
}

.card h1 {
  font-size: 24px;
  margin-bottom: 5px;
  color: #ffffff;
}

/* Botón de contacto */
.btn {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 0;
  color: white;
  background: linear-gradient(90deg, #7213fe, #b989ff);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn:hover {
  background: linear-gradient(90deg, #7213fe, #7213fe);
  transform: translateY(-2px);
  
}

/* Iconos sociales */
a {
  color: #7213fe;
  margin: 0 5px;
}

a:hover {
  color: #b989ff;
  transform: scale(1.2);
}