/* Navbar oscuro por defecto */
.custom-navbar {
    background-color: rgba(15, 15, 26, 0.8);
    color: #fff;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--neon-green);
    transition: all 0.3s ease;
}

/* Cuando se hace scroll */
.custom-navbar.scrolled {
    background-color: rgba(15, 15, 26, 1);
    /* más opaco */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    padding: 0.3rem 1rem;
    /* navbar más compacto */
}

.custom-navbar .navbar-brand {
    color: var(--neon-green);
    font-weight: 700;
    font-family: 'Orbitron', sans-serif;
}

.custom-navbar .navbar-brand:hover {
    color: #b989ff;
}

.custom-navbar .nav-link {
    color: #fff;
    font-weight: 500;
    transition: color 0.3s;
}

.custom-navbar .nav-link:hover {
    color: #b989ff;
}

.custom-navbar .navbar-toggler {
    border-color: var(--neon-green);
}

.custom-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}